body {
    font-family: monospace;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.gallery {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.gallery-item {
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px; /* Add margin to separate images vertically */
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
}
h3 {
    text-align: center;

}

p {
    margin-left: 200px;
    margin-right: 200px;
}